<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Categorías
    </ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="onCategoryChange($event.detail.value)" scrollable mode="md" color="primary">
    <ion-segment-button mode="md" [value]="category" *ngFor="let category of categories">
      <ion-label text-capitalize>{{ category }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content color="dark">
  <app-news [news]="newsList"></app-news>
  <ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando noticias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
